<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="utilities.Reporting" />
	</listeners>


 <test thread-count="5" name="NopCommerce">
<parameter name="browser" value="chrome" />
<classes> 
<class name="tests.LoginDDTTest" />
<class name="tests.LoginTest" />
<class name="tests.AddCustomerTest" />

</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
