<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="utilities.Reporting" />
	</listeners>

  <test thread-count="5" name="BankingProject">
	<parameter name="browser" value="chrome" />
		<classes>
			<class name="testcases.LoginTest" />
			<class name="testcases.AddCustomerTest" />
			<!--class name="com.inetbanking.testCases.TC_LoginDDT_002" />-->
		</classes>

  </test> <!-- BankingProject -->
</suite> <!-- Suite -->
